@mixin off-screen {
	position: absolute;
	left: -10000em;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@mixin pull-left {
	float: left;
}

@mixin pull-right {
	float: right;
}
