<!--[if lt IE 9]>
			<p class="browse-happy">Você está usando um navegador <strong>desatualizado</strong>. Por favor, <a href="http://windows.microsoft.com/pt-br/internet-explorer/download-ie">clique aqui</a> e atualize seu navegador para uma melhor experiência.</p>
		<![endif]-->
