<footer class="footer" role="contentinfo">

			<div class="container">

				<hr class="divider" noshade="noshade">

				<p>&copy; The <abbr title="Massachusetts Institute of Technology">MIT</abbr> License.</p>

			</div>

		</footer>
