<header id="header" class="header" role="banner" itemscope itemtype="http://schema.org/Organization">

				<div class="container">

					<h1>
						<span itemprop="name" class="off-screen">EMPRESA</span>
						<a href="home.html" title="Ir para a página inicial da EMPRESA" class="logo">
							<img src="//placehold.it/240x60&text=BRAND" itemprop="brand" alt="Logo da EMPRESA" arial-hidden="true">
						</a>
					</h1>

				</div>

		</header>
