<noscript>
			<p>Para completa funcionalidade deste site é necessário habilitar o JavaScript. Aqui estão as <a href="http://www.enable-javascript.com/pt/" title="Veja as instruções de como habilitar o JavaScript no seu navegador"> instruções de como habilitar o JavaScript no seu navegador</a>.</p>
		</noscript>

		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script>window.jQuery || document.write('<script src="assets/javascripts/vendors/jquery-1.11.1.js"><\/script>')</script>
		<script src="assets/javascripts/plugins.js"></script>
		<script src="assets/javascripts/messages.js"></script>
		<script src="assets/javascripts/app.js"></script>
		{{#if slug-is-js}}<script src="assets/javascripts/{{slug}}.js"></script>
		{{else}}{{#if javascript}}<script src="assets/javascripts/{{javascript}}.js"></script>
		{{/if}}{{/if}}
		{{> google-analytics }}
