---

title: Home
slug: home

slug-is-js: true
slug-is-css: true

stylesheet: false
javascript: false

debug: false

---
		<main class="main" role="main">

			<div class="container">

				<section>

					<h2>SECTION TITLE</h2>
					<p>SECTION CONTENT. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quis consequuntur quidem culpa placeat doloribus numquam, ut quam fugit praesentium, neque nemo assumenda iusto quos a dolorem. Hic perferendis, consequuntur.</p>

				</section>

			</div>

		</main>
