---

title: Style Guide
slug: sample

slug-is-js: true
slug-is-css: true

stylesheet: false
javascript: false

debug: true

---
		<main class="main container" role="main">

			<h1 class="primary-title">Lorem ipsum dolor sit amet</h1>

			<p>Rem dolore expedita libero cumque officiis est recusandae amet omnis nihil accusamus eos autem, totam inventore blanditiis? Consequuntur sapiente, mollitia quae, ratione non ipsam repudiandae illum excepturi, esse magnam praesentium, sed doloremque fugit culpa impedit. Laboriosam, error, exercitationem magnam quisquam repellat accusantium cum numquam eligendi voluptatibus. Voluptatum officia officiis commodi, nemo sed quos. Deleniti ea iste aliquam consequuntur explicabo temporibus velit ut obcaecati eaque quaerat officia delectus corporis ullam, vel recusandae impedit quae doloribus tempore veniam rem, voluptate cumque nemo quis quas. Perferendis laudantium nam error facilis soluta, ad alias rerum vitae.</p>

			<a href="#" title="Access lipsum.com">Lorem ipsum dolor sit amet</a>

			<hr class="divider" noshade="noshade">

			<h2 class="secondary-title">Consectetur adipisicing elit</h2>

			<img src="http://placehold.it/250x250" alt="Image Placehold" class="float-image">

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati saepe, tenetur minima molestias ipsam a maxime quae ut rerum ratione expedita totam iusto suscipit id eum tempora officiis eius aliquam aperiam aliquid laudantium quo nisi quod est. Optio amet ad, eum reprehenderit minus nesciunt tempore veniam necessitatibus eius assumenda ea modi! Quaerat, amet, expedita! In id, labore ducimus repudiandae tenetur reiciendis nisi deserunt laborum adipisci officiis quidem odit, alias nemo numquam beatae! Dicta fugiat voluptates alias, rerum, molestiae laudantium reiciendis inventore neque non delectus nulla natus error perferendis doloremque. Placeat mollitia nostrum, dolorum accusantium dolor, quae iusto facilis aspernatur optio, animi impedit, sit est! Eligendi, qui esse necessitatibus animi non, autem molestiae nihil doloremque. Sint deserunt veritatis explicabo in, vel natus distinctio itaque dicta saepe, repellendus voluptates quas delectus reiciendis facilis tempore debitis sit placeat architecto aspernatur repudiandae dolorem consectetur. Est assumenda perferendis quaerat, sint reprehenderit voluptatibus rerum. Eaque perspiciatis, repellat facere, magnam fuga eum quos incidunt. Laboriosam officiis placeat facere, tempore dicta illo et in enim soluta, minus labore nam aperiam perferendis, delectus, qui ducimus atque pariatur id voluptatibus. Debitis quibusdam, minima dolore sequi accusamus molestiae libero aperiam nulla. Quaerat, et! Consectetur, asperiores, qui. Id aliquid velit dolorum, laudantium?</p>

			<a href="#" class="btn btn-secundary">.btn-secundary</a>

			<hr class="divider" noshade="noshade">

			<ul>
				<li>Lorem ipsum</li>
				<li>
					Lorem ipsum dolor
					<ul>
						<li>Lorem ipsum dolor sit</li>
						<li>Lorem ipsum dolor sit amet</li>
					</ul>
				</li>
				<li>Lorem ipsum dolor sit amet, consectetur</li>
			</ul>

			<hr class="divider" noshade="noshade">

			<form action="#send" class="form form-bordered" method="post">

				<fieldset>

					<div class="row">
						<label for="field" class="label multi-row">Label field with a long text for input</label>
						<input type="text" name="field" id="field" class="input" placeholder="Placeholder here" required>
					</div>

					<div class="row">
						<button type="submit" class="btn btn-primary pull-right">.btn-primary</button>
					</div>

				</fieldset>

			</form>

			<hr class="divider" noshade="noshade">

			<div class="wrap-table">

				<table class="table">

					<caption>Table caption</caption>

					<thead>

						<tr>
							<th>#</th>
							<th>Title</th>
							<th>Content</th>
						</tr>

					</thead>

					<tbody>

						<tr>
							<td>1</td>
							<td>Lorem ipsum dolor sit amet</td>
							<td>Consectetur adipisicing elit. Sunt tempore, beatae. Ipsum eum sunt maxime aperiam nostrum perferendis quae officiis</td>
						</tr>

						<tr>
							<td>2</td>
							<td>Omnis quis</td>
							<td>Olestiae libero nostrum inventore aperiam unde provident nesciunt, eveniet repudiandae cupiditate, sint pariatur quis</td>
						</tr>

					</tbody>

				</table>

			</div>

		</main>
